swagger: "2.0"
info:
  description: "API Documentation"
  version: "1.2"
  title: "GA_OD_CORE_API"
  termsOfService: "http://opendata.aragon.es/terminos"
  contact:
    email: "opendata@aragon.es"
  license:
    name: "Creative Commons - Reconocimiento (CC-by 4.0)"
    url: "https://creativecommons.org/licenses/by/4.0/"
host: "opendata.aragon.es"
basePath: "/GA_OD_Core"
tags:
- name: "GA_OD_Core"
  description: "API Documentation"
  externalDocs:
    description: "Find out more"
    url: "http://swagger.io"
schemes:
- "https"
paths:
  /views:
    get:
      summary: "Return all available Views."
      description: "Return all available Views."
      operationId: "views"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "user"
        in: "query"
        description: "Authenticated user in opendata portal"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid status value"
        default:
          description: "unexpected error"
  /show_columns:
    get:
      summary: "Return all columns of a table"
      description: "Returns information about name and type of the columns of a table."
      operationId: "show_columns"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "view_id"
        in: "query"
        description: "ID of the View to query"
        required: true
        type: "integer"
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid status value"
        default:
          description: "unexpected error"
  /preview:
    get:
      summary: "Returns the result of a query to one of the available Views."
      description: "Returns the result of a query to one of the available Views."
      operationId: "preview"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "view_id"
        in: "query"
        description: "ID of the View to query"
        required: true
        type: "integer"
      - name: "select_sql"
        in: "query"
        description: "String fields you want to retrieve. If are more than one, separate them by a coma (SQL Format)"
        required: false
        type: "string"
      - name: "filter_sql"
        in: "query"
        description: "String with filters to add to the query (SQL Format)"
        required: false
        type: "string"
      - name: "_pageSize"
        in: "query"
        description: "Number of results in each page"
        required: false
        type: "integer"
        default: 100
      - name: "_page"
        in: "query"
        description: "Number of the page"
        required: false
        type: "integer"
        default: 1
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid status value"
        default:
          description: "unexpected error"
  /download:
    get:
      summary: "Downloads a file in XML, JSON or CSV format."
      description: "Downloads a file in XML, JSON or CSV format with the result of a Query."
      operationId: "download"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "view_id"
        in: "query"
        description: "ID of the View to query"
        required: true
        type: "integer"
      - name: "select_sql"
        in: "query"
        description: "String fields you want to retrieve. If are more than one, separate them by a coma (SQL Format)"
        required: false
        type: "string"
      - name: "filter_sql"
        in: "query"
        description: "String with filters to add to the query (SQL Format)"
        required: false
        type: "string"
      - name: "formato"
        in: "query"
        description: "Format of the file to download, must be XML, JSON or CSV"
        required: true
        type: "string"
        enum: ["csv","json","xml"]
      - name: "_pageSize"
        in: "query"
        description: "Number of results in each page"
        required: false
        type: "integer"
        default: 100
      - name: "_page"
        in: "query"
        description: "Number of the page"
        required: false
        type: "integer"
        default: 1
      responses:
        200:
          description: "successful operation"
        400:
          description: "Invalid status value"
        default:
          description: "unexpected error"
securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"