openapi: 3.0.0
info:
  description: API Documentation
  version: "1.2"
  title: Aragon Open Data Core API
  termsOfService: http://opendata.aragon.es/terminos
  contact:
    email: opendata@aragon.es
  license:
    name: Creative Commons - Reconocimiento (CC-by 4.0)
    url: https://creativecommons.org/licenses/by/4.0/
tags:
  - name: GA_OD_Core
    description: API Documentation
    externalDocs:
      description: Find out more
      url: http://swagger.io
paths:
  /views:
    get:
      summary: Return all available Views.
      description: Return all available Views.
      operationId: views
      parameters:
        - name: user
          in: query
          description: Authenticated user in opendata portal
          required: false
          schema:
            type: string
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid status value
        default:
          description: unexpected error
  /show_columns:
    get:
      summary: Return all columns of a table
      description: Returns information about name and type of the columns of a table.
      operationId: show_columns
      parameters:
        - name: view_id
          in: query
          description: ID of the View to query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid status value
        default:
          description: unexpected error
  /preview:
    get:
      summary: Returns the result of a query to one of the available Views.
      description: Returns the result of a query to one of the available Views.
      operationId: preview
      parameters:
        - name: view_id
          in: query
          description: ID of the View to query
          required: true
          schema:
            type: integer
        - name: select_sql
          in: query
          description: String fields you want to retrieve. If are more than one, separate
            them by a coma (SQL Format)
          required: false
          schema:
            type: string
        - name: filter_sql
          in: query
          description: String with filters to add to the query (SQL Format)
          required: false
          schema:
            type: string
        - name: _pageSize
          in: query
          description: Number of results in each page
          required: false
          schema:
            type: integer
            default: 100
        - name: _page
          in: query
          description: Number of the page
          required: false
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid status value
        default:
          description: unexpected error
  /download:
    get:
      summary: Downloads a file in XML, JSON or CSV format.
      description: Downloads a file in XML, JSON or CSV format with the result of a Query.
      operationId: download
      parameters:
        - name: view_id
          in: query
          description: ID of the View to query
          required: true
          schema:
            type: integer
        - name: select_sql
          in: query
          description: String fields you want to retrieve. If are more than one, separate
            them by a coma (SQL Format)
          required: false
          schema:
            type: string
        - name: filter_sql
          in: query
          description: String with filters to add to the query (SQL Format)
          required: false
          schema:
            type: string
        - name: formato
          in: query
          description: Format of the file to download, must be XML, JSON or CSV
          required: true
          schema:
            type: string
            enum:
              - csv
              - json
              - xml
        - name: _pageSize
          in: query
          description: Number of results in each page
          required: false
          schema:
            type: integer
            default: 100
        - name: _page
          in: query
          description: Number of the page
          required: false
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: successful operation
        "400":
          description: Invalid status value
        default:
          description: unexpected error
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://opendata.aragon.es/GA_OD_Core
components:
  securitySchemes:
    petstore_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://petstore.swagger.io/oauth/dialog
          scopes:
            write:pets: modify pets in your account
            read:pets: read your pets
    api_key:
      type: apiKey
      name: api_key
      in: header